.wrapper {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) {
    .wrapper {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}

@media (max-width: 767px) {
    .wrapper {
        margin-top: 2vh;
        margin-bottom: 2vh;
        justify-content: center;
    }
}