.entity-card {
  place-self: flex-start auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(55, 65, 81);
    border-radius: 0.5rem; 
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1); 
    background-color: rgb(31, 41, 55);
  }

  .entity-card:hover {
    background-color: rgb(55, 65, 81); 
  }

  @media (min-width: 1024px) { 
    .entity-card {
      flex-direction: row;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    line-height: normal;
    color: white;
    overflow-y: scroll;
    max-height: 80vh;
  }

  @media (max-width: 767px) {
    .card-content {
      max-height: 60vh;
    }
  }

  .card-content-header {
    display: flex;
    flex-direction: row;
    place-content: space-between;
  }


  .scientific-name {
    font-style: italic;
    color: rgb(209, 213, 219); 
    font-size: 0.875rem; 
  }

  .card-btns {
    display: flex;
    flex-direction: row;
  }

  .details-grid {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
    margin-left: 1.5rem;
    padding-right: 1rem;
    font-size: 0.75rem;
    overflow-y: scroll;
  }

  @media (max-width: 767px) {
    .details-grid {
      margin-left: 0.5rem;
    }
  }

  .details-label {
    grid-column-start: 1;
  }

  .details-text {
    grid-column: span 4;
    padding-left: 0.25rem; 
  }
