.arrow-btn {
    place-self: center;
    position: relative;
    margin-top: 45vh;
    margin-bottom: 45vh;
  }

  @media (max-width: 767px) {
    .arrow-btn {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    .arrow-btn {
      font-size: 100px;
    }
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    .arrow-btn {
      font-size: 100px;
    }
  }

